<div class="">
  <div class="notification is-light">
    <div class="columns is-mobile">
      <div class="column is-half is-offset-one-quarter">
        <button
          class="button is-link mb-2 is-offset-one-quarter"
          (click)="getPhoto()"
        >
          Click for new photo
        </button>

        <div class="card" *ngIf="data">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="data.urls.regular" alt="Placeholder image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    [src]="data.user.profile_image.small"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ data.user.first_name }}</p>
                <p class="subtitle is-6">@{{ data.user.instagram_username }}</p>
              </div>
            </div>

            <div class="content">
              {{ data.description }} <a>@{{ data.user.instagram_username }}</a
              >. <a href="#">#css</a> <a href="#">#responsive</a>
              <br />
              <time datetime="2016-1-1">{{ data.created_at }}</time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
